body {
    background-color: #ebebe9;
}

.image-box {
    display: flex;
    justify-content: center;
    align-items: center;
}
.image-box img {
    height: auto;
    width: 300px;
}



.main-page-title-box {
    display: flex;
    justify-content: center;
    align-items: center;
}
.main-page-title-box .main-page-title {
    font-size: 32px;
    color: (#ff0000);
}


.list-box {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.list-item{
    font-size: 24px;
    font-family: 'Courier New', Courier, monospace;
}